<app-ui-header color="primary" retracted> Text </app-ui-header>

<app-ui-navigation retracted></app-ui-navigation>

<router-outlet></router-outlet>

<!-- <app-ui-image source="https://plocploc/150" fallback></app-ui-image>


<app-ui-image source="https://plocploc/150"
              uiImgFallback fallback="https://opensource.google/static/images/projects/os-projects-angular.svg"></app-ui-image>

<app-ui-image emphasis></app-ui-image>
<app-ui-image source="https://picsum.photos/150"></app-ui-image>
<app-ui-image source="https://picsum.photos/150" [size]="{h:200,w:500}" emphasis>
</app-ui-image>
 -->

